* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: #363a66;
}

.hide {
	display: none !important;
}

.disable {
	pointer-events: none;
}
.color-correct {
	background-color: greenyellow;
}
.color-wrong {
	background-color: red;
}

.navbar {
	background-color: #181632 !important;
}

.navbar-nav a,
.nav-link.active a {
	color: #ffffff !important;
}
#chart {
	max-width: 650px;
	margin: 35px auto;
}
